<a href="https://colab.research.google.com/github/Agni04/Netflix_movies/blob/main/Demographic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing files:**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving adult.data.csv to adult.data.csv

**Importing required libraries:**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#importing data:
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [ ]:
race_count =df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [ ]:
average_age_men = round(df.loc[df["sex"]=="Male"]["age"].mean(),1)
average_age_men

39.4

What is the percentage of people who have a Bachelor's degree?

In [ ]:
num_bachelors = len(df.loc[df["education"]=="Bachelors"])
total=len(df["education"])
percentage_bachelors = round((num_bachelors / total )*100,1)
percentage_bachelors

16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K? What percentage of people without advanced education make more than 50K? with_ and without Bachelors, Masters, or Doctorate

In [ ]:
higher_education =df.loc[df["education"].isin(['Bachelors','Masters','Doctorate'])]
lower_education = df.loc[~df["education"].isin(['Bachelors','Masters','Doctorate'])]

percentage with salary >50K

In [ ]:
non_percentage_higher=len(higher_education[higher_education.salary=='>50K'])
higher_education_rich = round(non_percentage_higher/len(higher_education)*100,1)
higher_education_rich

46.5

In [ ]:
non_percentage_lower=len(lower_education[lower_education.salary=='>50K'])
lower_education_rich =round(non_percentage_lower/len(lower_education)*100,1)
lower_education_rich

17.4

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of >50K

In [ ]:
num_min_workers = df.loc[df['hours-per-week']==min_work_hours]
num_min_workers

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [ ]:
rich_percentage =round(len(num_min_workers[num_min_workers.salary=='>50K'])/len(num_min_workers)*100,1)
rich_percentage

10.0

 What country has the highest percentage of people that earn >50K?

In [ ]:
country_count=df['native-country'].value_counts()
country_rich_country=df.loc[df['salary']=='>50K']['native-country'].value_counts()
highest_earning_country =(country_rich_country/country_count*100).idxmax()
highest_earning_country_percentage =round(country_rich_country/country_count*100,1).max()
highest_earning_country

'Iran'

In [ ]:
highest_earning_country_percentage

41.9

 Identify the most popular occupation for those who earn >50K in India.

In [ ]:
people_of_india_rich=df.loc[(df['native-country']=='India')&(df["salary"]=='>50K')]
people_of_india_rich

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1327,52,Private,168381,HS-grad,9,Widowed,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,India,>50K
7258,42,State-gov,102343,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,72,India,>50K
7285,54,State-gov,93449,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
8124,36,Private,172104,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Other,Male,0,0,40,India,>50K
9939,43,Federal-gov,325706,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
10590,35,Private,98283,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,India,>50K
10661,59,Private,122283,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,99999,0,40,India,>50K
10736,30,Private,243190,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,20,India,>50K
11260,54,Private,225599,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,40,India,>50K
11384,34,Private,98283,Prof-school,15,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,1564,40,India,>50K
13422,53,Private,366957,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,50,India,>50K
13551,40,Private,220977,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
13862,45,Private,209912,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16017,41,Private,207578,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,50,India,>50K
16778,43,Private,242968,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16923,41,Private,143003,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,7298,0,60,India,>50K
17259,57,Self-emp-inc,123053,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,50,India,>50K
17834,29,Self-emp-not-inc,341672,HS-grad,9,Married-spouse-absent,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,1564,50,India,>50K
20417,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,2201,60,India,>50K
20465,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
21128,30,Private,122889,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
23474,55,State-gov,120781,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
24154,46,Private,229737,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,India,>50K
25739,35,Self-emp-inc,79586,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26305,27,Private,207352,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26356,34,Private,99872,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
27670,61,Private,80896,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,India,>50K
28264,51,Self-emp-not-inc,120781,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Other,Male,99999,0,70,India,>50K
28433,42,Private,198341,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1902,55,India,>50K
28452,53,Private,70387,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4386,0,40,India,>50K
28557,34,Private,165737,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,43,India,>50K
28651,45,Self-emp-not-inc,216402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
28798,30,Self-emp-not-inc,116666,Masters,14,Divorced,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,>50K
30111,41,Federal-gov,219155,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,India,>50K
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [ ]:
occupation_counts=people_of_india_rich['occupation'].value_counts()
top_IN_occupation =occupation_counts.idxmax()
top_IN_occupation

'Prof-specialty'